@tailwind base;
@tailwind components;
@tailwind utilities;

.groupCart {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 27%,
    rgba(253, 29, 29, 1) 94%
  );
}
.article {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "art art art art slider slider";
}
.art {
  grid-area: art;
}
.slider {
  grid-area: slider;
}
.ourFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "brand brand contact social";
}
.contact {
  grid-area: contact;
}
.social {
  grid-area: social;
}
.brand {
  grid-area: brand;
}
.book {
  background: linear-gradient(
    90deg,
    rgba(87, 23, 116, 1) 3%,
    rgba(101, 60, 130, 1) 51%,
    rgba(171, 119, 190, 1) 100%
  );
}
.headerTitle {
  font-size: 72px;
  background: rgb(101, 60, 130);
  background: linear-gradient(
    170deg,
    rgba(101, 60, 130, 1) 3%,
    rgba(214, 108, 9, 1) 51%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #e6f4e8;

  color: #fff;
  transition: height 0.3s;
}

.image-container:hover .overlay {
  height: 100%;
}

.overlay-content {
  padding: 20px;
}

.overlay-content h3,
.overlay-content p {
  margin: 0;
}
.showTemp {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "preview preview preview preview pays";
}
.pays {
  grid-area: pays;
  width: 350px;
  margin-top: 20px;
}
.preview {
  grid-area: preview;
}
.logo::before {
  content: "";
  background: linear-gradient(315deg, #00ccff, #184345, #c3a29f);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  transition: 0.5s;
  position: relative;
  animation: animate 1s linear infinite forwards;
}
.line {
  height: 1px;
  width: full;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #1907bb 29%,
    #46eaf5 67%,
    #446780 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.code {
  background-image: linear-gradient(
    -225deg,
    #44cde9 0%,
    #446780 29%,
    #46eaf5 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  font-weight: 500;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.design {
  background-image: linear-gradient(
    -225deg,
    #336872 0%,
    #09a1c3 29%,
    #46eaf5 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  font-weight: 500;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.containerBlog {
  display: grid;
  grid-template-columns: auto 400px;
}
@media only screen and (max-width: 1115px) {
  /* place here CSS for when the screen is less than 1000px wide */
  .containerBlog {
    grid-template-columns: auto 300px;
    column-gap: 6px;
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

/* Main content styles */
.main-content {
  display: grid;
  grid-template-columns: 1fr 400px;
}

